<head> 
<div class='apple'>
    <h1>AAA School</h1>
    <div class="buttom-box">
    <button type="button" class="btn">戻る</button>
    </div> 
</div>
</head>

<%# <header>
　　<div class="header-logo">
　　</div>
　　<div class="header-list">
　　　<ul>
　　　　<li>戻る</li>
　　　</ul>
　　</div>
　</header>
 <%>

<h3>投稿一覧</h3>
<%= link_to "新規投稿へ", new_board_path %>
<div class="boards-container">
<% @boards.each do |t| %>
    <div class="board">
        <b><%= t.title %></b>
        <p><%= t.subject %>
        <%= t.grade %></p>
        <%= t.body %>
        <%= t.created_at %>
        <%= link_to "詳細へ", board_path(t.id) %>
        <%= link_to "編集する", edit_board_path(t.id) %>
        <%= button_to "削除する", board_path(t.id), method: :delete %>
    </div>
<% end %>
</div>